body {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.clearfix::after {
  content: '';
  display: table;
  width: 100%;
  clear: both; }

.wrapper {
  min-width: 200px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 2%; }

button {
  background-color: #97c248;
  border: 0;
  color: #282a2e;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif; }
  button:hover {
    background-color: #3181ff; }
  button:focus {
    outline: none; }

.caption {
  font-size: 40px;
  margin: 0;
  padding: 20px;
  text-align: center; }

header {
  z-index: 0;
  position: relative; }

header .top {
  background-color: #282a2e;
  padding: 15px 0;
  -webkit-box-shadow: 0 3px 3px 0 #000;
  box-shadow: 0 3px 3px 0 #000;
  z-index: 1;
  position: relative; }

header .logo {
  display: inline-block; }
  header .logo span {
    display: inline-block;
    color: #fff;
    padding: 0 0 0 5px;
    font-weight: bold;
    vertical-align: middle; }
  header .logo img {
    vertical-align: middle; }

header nav {
  display: inline-block;
  float: right; }
  header nav a {
    text-decoration: none;
    margin: 10px;
    color: #fff;
    font-size: 18px; }

header nav a:hover,
header nav a.active {
  color: #97c248; }

/* HOME */
.banner {
  color: #fff;
  background-image: url(../images/banner-background.jpg);
  background-size: cover;
  background-position: center; }
  .banner .center {
    padding: 23% 5%; }
    .banner .center .text {
      font-size: 26px;
      text-transform: uppercase; }
      .banner .center .text span {
        display: block; }
  .banner button {
    margin: 20px 0 0 0; }

.main-question {
  background-color: #4b3f34;
  -webkit-box-shadow: inset 0 3px 5px 0 #000000;
  box-shadow: inset 0 3px 5px 0 #000000;
  text-align: right; }
  .main-question .container {
    padding: 8% 6%; }
    .main-question .container .question {
      display: inline-block; }
  .main-question img {
    display: inline-block;
    float: left;
    margin: 0 0 0 30px; }
  .main-question span {
    color: #fff;
    font-size: 42px;
    display: block;
    padding: 0 0 20px 0; }

/* CARS */
.cars-container {
  text-align: center; }
  .cars-container .item {
    display: inline-block;
    padding: 20px; }
    .cars-container .item img {
      width: 400px;
      height: 250px;
      border: 2px solid grey;
      border-radius: 3px; }
    .cars-container .item button {
      margin-top: 20px; }
    .cars-container .item .info-block {
      display: flex;
      justify-content: space-between; }
  .cars-container form input {
    width: 250px;
    padding: 5px 20px;
    text-align: center;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    border-radius: 1px;
    background-color: gainsboro; }

/* CAR DETAILS*/
.details-container {
  padding-bottom: 50px; }
  .details-container .thumbs {
    text-align: center; }
    .details-container .thumbs .prevs {
      list-style-type: none; }
      .details-container .thumbs .prevs li {
        display: inline-block; }
    .details-container .thumbs .main-thumb > img {
      width: 460px;
      height: 280px;
      border: 3px solid grey;
      border-radius: 3px; }
    .details-container .thumbs .preview {
      width: 170px;
      height: 110px;
      cursor: pointer;
      margin: 20px;
      border: 2px solid grey;
      border-radius: 3px;
      transition: all .2s ease-in-out; }
      .details-container .thumbs .preview:hover {
        transform: scale(1.1); }
  .details-container .characts li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    background-color: grey; }

/* ABOUT */
.about-container .info {
  padding: 10px 10px 20px 10px;
  text-indent: 1.5em; }

.about-container .caption {
  color: #000; }

.icon-container {
  text-align: center;
  padding: 20px 0 30px 0; }
  .icon-container .item {
    display: inline-block;
    padding: 5px; }
    .icon-container .item .cap {
      font-size: 16px;
      font-weight: bold; }
    .icon-container .item .text {
      padding: 5px 0 0 0;
      font-size: 12px; }

/* CONTACT */
.contact-container {
  background-color: #626365;
  position: relative;
  z-index: 0; }
  .contact-container .banner {
    background-image: url(../images/banner-cont-background.jpg);
    background-size: cover;
    position: relative;
    z-index: 5; }
    .contact-container .banner .center {
      padding: 8% 0 25% 0; }
  .contact-container .form-container {
    -webkit-box-shadow: inset 0 2px 5px 0 #000000;
    box-shadow: inset 0 2px 5px 0 #000000; }
  .contact-container form {
    text-align: center;
    padding: 0 0 30px 0; }
    .contact-container form input {
      display: block;
      margin: 10px auto;
      width: 41%;
      padding: 15px;
      font-size: 18px;
      background-color: #222327;
      border: 0;
      color: #fff;
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9); }
      .contact-container form input.valid {
        box-shadow: inset 0px 0px 10px rgba(0, 162, 20, 0.9); }
    .contact-container form button {
      margin: 10px 0; }
  .contact-container .form-group {
    height: 80px;
    position: relative; }
    .contact-container .form-group .help-msg {
      display: block;
      font-size: 14px;
      padding: 0;
      margin: 0;
      color: #920000;
      left: 39%; }
      .contact-container .form-group .help-msg.valid {
        color: forestgreen; }

.contact-container form ::-webkit-input-placeholder {
  color: #fff; }

.contact-container form ::-moz-placeholder {
  color: #fff; }

/* Firefox 19+ */
.contact-container form :-moz-placeholder {
  color: #fff; }

/* Firefox 18- */
.contact-container form :-ms-input-placeholder {
  color: #fff; }

footer {
  background-color: #282a2e;
  color: #fff;
  padding: 10px 0;
  -webkit-box-shadow: 0 -3px 5px 0 #000000;
  box-shadow: 0 -3px 5px 0 #000000; }
  footer .copy {
    display: inline-block;
    padding: 20px;
    font-size: 14px; }
  footer .social {
    float: right; }
    footer .social a {
      margin: 10px;
      width: 41px;
      height: 41px;
      display: inline-block;
      opacity: .8;
      background-image: url("../images/social-icons.png"); }
      footer .social a:hover {
        opacity: 1; }
      footer .social a.twitter {
        background-position: -55px -8px; }
      footer .social a.youtube {
        background-position: -12px -8px; }
      footer .social a.facebook {
        background-position: -97px -50px; }
      footer .social a.insta {
        background-position: -96px -8px; }
