<div class="wrapper">
    <div class="about-container" ng-controller="AboutCtrl">
        <h1 class="caption">About us</h1>
        <div class="icon-container">
            <div ng-repeat="item in items" class="item">
                <img ng-src="images/about-icon-{{item.id}}.png">
                <div class="cap">{{item.caption}}</div>
                <div class="text">{{item.text}}</div>
            </div>
        </div>
        <div class="info">
            <strong>Pellentesque habitant morbi tristique</strong>
            senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
            feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
            <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien
            ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit
            amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus
            lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.
        </div>
    </div>
</div>
