<div class="wrapper">
    <div class="details-container" ng-controller="CarDetailCtrl">
        <div class="caption">{{carId}} details</div>
        <div class="thumbs">
            <div class="main-thumb">
                <img ng-src="{{mainImgUrl}}" alt="{{car.name}}"
            </div>
            <ul class="prevs">
                <li ng-repeat="img in car.images">
                    <img class="preview" ng-src="{{img}}" alt="{{car.name}}" ng-click="setImage(img)">
                </li>
            </ul>
        </div>
        <div class="chrs">Charactiristic:</div>
        <ul class="characts">
            <li>Engine: {{car.characteristics.engine}}</li>
            <li>Transmision: {{car.characteristics.transmision}}</li>
            <li>Max-speed: {{car.characteristics.maxSpeed}}</li>
            <li>Power: {{car.characteristics.power}}</li>
        </ul>
    </div>
</div>
