<div class="wrapper">
    <h1 class="caption">Cars</h1>
    <div class="cars-container" ng-controller="CarsCtrl">
        <form>
            <input name="search" class="search" placeholder="find your dream" ng-model="search">
        </form>
        <div class="item" ng-repeat="car in cars | filter : search">
            <img ng-src="{{car.imgUrl}}" alt="{{car.name}}">
            <div class="info-block">
                <div class="cap">{{car.name}}</div>
                <div class="code">code: {{car.code}}</div>
                <div class="price">{{car.price}}</div>
            </div>
            <button class="btn btn-default" ui-sref="home.detail({carId:car.id})" role="button">View details</button>
        </div>
    </div>
</div>
