<div class="contact-container">
	<div class="banner">
	    <div class="wrapper">
	        <div class="center">
	            <div class="text">
	                Can give me the car of my dreams?
	                <span>yup, we can do that</span>
	            </div>
	            <button>Learn more</button>
	        </div>
	    </div>
	</div>
	<div class="form-container">
		<div class="wrapper">
			<h1 class="caption">Contact with us</h1>
			<form name="myForm" ng-submit="sendMail($event)" novalidate>
				<div class="form-group">
					<input
							type="text"
							name="name"
							ng-model="inputName"
							ng-class="{ valid: myForm.name.$valid }"
							placeholder="Your name"
							required>
					<p ng-show="myForm.name.$invalid && !myForm.name.$pristine" class="help-msg">enter your name</p>
				</div>
				<div class="form-group">
					<input
							type="email"
							name="email"
							ng-model="inputEmail"
							ng-class="{ valid: myForm.email.$valid }"
							placeholder="Your e-mail"
							required>
					<p ng-show="myForm.email.$invalid && !myForm.email.$pristine" class="help-msg">enter correct e-mail</p>
				</div>
				<div class="form-group">
					<button type="submit">submit</button>
					<p ng-show="myForm.$invalid && myForm.$submitted" class="help-msg">fill all form correctly</p>
					<p ng-show="myForm.$valid && myForm.$submitted" class="help-msg valid">Required!</p>
				</div>
			</form>
		</div>
	</div>
</div>