<header class="clearfix">
    <div class="top">
        <div class="wrapper">
            <div class="logo">
                <img src="../images/logo.png">
                <span>Only Best cars</span>
            </div>
            <nav>
                <a ui-sref="home.default" ui-sref-active-eq="active" title="Home">Home</a>
                <a ui-sref="home.about" ui-sref-active-eq="active" title="About us">About us</a>
                <a ui-sref="home.cars" ui-sref-active-eq="active" title="Cars">Cars</a>
                <a ui-sref="home.contact" ui-sref-active-eq="active" title="Contact">Contact</a>
            </nav>
        </div>
    </div>
</header>
<div ui-view class="main"></div>
<footer class="clearfix">
    <div class="wrapper">
        <div class="copy">© all right reserved</div>
        <div class="social">
            <a class="twitter" href="#" title="twitter"></a>
            <a class="youtube" href="#" title="youtube"></a>
            <a class="facebook" href="#" title="facebook"></a>
            <a class="insta" href="#" title="insta"></a>
        </div>
    </div>
</footer>