<div class="banner">
    <div class="wrapper">
        <div class="center">
            <div class="text">
                Can give me the car of my dreams?
                <span>yup, we can do that</span>
            </div>
            <button>Learn more</button>
        </div>
    </div>
</div>
<div class="main-question">
	<div class="wrapper">
		<div class="container">
			<img src="images/ferrari.png">
			<div class="question">
				<span>Do you like exotic cars?</span>
				<button>of course</button> 
			</div>
		</div>
	</div>
</div>